#document a {
    margin-bottom: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 0 2px 2px #9E97F3;
    font-weight: bolder;
}

#document a.enabled {
    background-color: #FFFFFF;
}

#document a.enabled:hover {
    background-color: #CBC8FB;
}

#document a.disabled {
    background-color: #DEDDEF;
    color: #8884BB;
    cursor: not-allowed;
}

#document a.enabled svg.download {
    fill: #5A50DE;
}